<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ellobeta.rm" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Remote Sales</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <plugin name="cordova-plugin-network-information" spec="~2.0.1" />
    <engine name="browser" spec="~5.0.3" />
    <plugin name="cordova-plugin-console" spec="~1.1.0" />
    <plugin name="cordova-plugin-device" spec="~2.0.1" />
    <plugin name="cordova-plugin-fcm" spec="~2.1.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
</widget>
